'.source.sas':
  'if':
    'prefix': 'if'
    'body': 'if $1 then do;\n\t$2\nend;$0'
  'else if':
    'prefix': 'elsif'
    'body': 'else if $1 then do;\n\t$2\nend;$0'
  'else':
    'prefix': 'else'
    'body': 'else do;\n\t$1\nend;$0'
  'do while':
    'prefix': 'while'
    'body': 'do while ($1);\n\t$2\nend;$0'
  'do until':
    'prefix': 'until'
    'body': 'do until ($1);\n\t$2\nend;$0'
  'do ... to':
    'prefix': 'do'
    'body': 'do ${1:i} = ${2:1} to ${3:n};$0'
  'select':
    'prefix': 'select'
    'body': 'select (${1:variable});\n\twhen ($2) $3;$4\n\totherwise$5;\nend;$0'
  'array':
    'prefix': 'array'
    'body': 'array {${2:n}} $1;$0'
  'infile':
    'prefix': 'infile'
    'body': 'infile ${1:myfile} ${2:dlm = \',\' dsd missover firstobs = 2};\ninput $3;$0'
  'declare hash':
    'prefix': 'declare'
    'body': 'declare hash ${1:myhash}(dataset: "$2");\nrc = ${1:myhash}.definekey("${3:key}");\nrc = ${1:myhash}.definedata(${4:all: "yes"});\n${1:myhash}.definedone();$0'
  'proc':
    'prefix': 'proc'
    'body': 'proc $1 data = ${2:mydata};$0'
  'table':
    'prefix': 'table'
    'body': 'tables $1 / ${2:nocol norow nopct missing};$0'
  'create table':
    'prefix': 'create'
    'body': 'create table ${1:mytable} as select $2 from $3;$0'
