'.source.sas':
  'editor':
    'increaseIndentPattern': '(?i:(\\bdo\\b(.(?!end;))*$|\\bbegingraph\\b(.(?!endgraph;))*$|^\\s*(proc|data|%macro)\\s+.*;\\s*$))'
    'decreaseIndentPattern': '(?i:(^\\s*(%?end|endgraph|endsas|run|quit|%mend)\\s*;))'
    'indentNextLinePattern': '[^;]\\s*$'
